= render '/application/mailer_doctype'
%html

  .author-action John proposed
  / # %h2= t(:"email.new_motion_created.intro", author: @motion.author.name, group: @motion.group.name)
  %h2= @motion.name

  -if @rendered_motion_description.present?
    %table
      %tr
        %td.comment
          :plain
            #{@rendered_motion_description}

          =link_to t(:"email.view_proposal"), motion_path(@motion)

  %h4= t :state_your_position
  %table
    %tr
      %td.comment
        :plain
          #{render 'vote_buttons'}
    %tr
      %td.comment
        = t(:"email.proposal_closing_soon.closes_in") +': ' + time_ago_in_words(@motion.closing_at)
        %br
        = "(" + @motion.closing_at.localtime.strftime('%a %d %b %Y, %I:%M%p, %Z') + ")"

  = render 'user_mailer/unsubscribe_link'
